---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<p>
			Hi and welcome to my blog. If you are someone like me that enjoys all things
			technology-related or just lost on the webs, sip a cup of coffee/tea and enjoy your stay. I'm
			particularly interested in Games and AI and how understanding human mind plays an important
			role in pushing the boundaries of what we think is possible. My goal with this blog is to
			share my journey of exploration as I delve deeper into the world of technology and try to gain
			a better understanding of how the mind works. I hope to provide valuable insights and
			perspectives for anyone who shares my passion for these subjects, and I'm excited to see where
			this journey takes me!
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
