---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
    <p>
      Hey, and welcome to my blog.
      <br><br> If you’re into tech, game development, or just randomly landed here, stick around and you might find
      something
      interesting. This is where I share my journey through computer science and the game industry, covering what I’m
      learning,
      the struggles,
      the small wins, and everything in between.
      <br><br> I don’t have all the answers, but I’m figuring things out as I go, and if you’re on a similar path, maybe
      some of it will resonate with you.
    </p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
